#headers{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 10);
    font-size: 14px;
    justify-content: center;
}


body{
    margin: 0;
    padding: 0;
    color:white;
    background-color: #DCE1F1;
}

.imgpoke{ /* Ajustes Imagen */
    width: 100%;
    max-width: 120px;
    height: 120px;
}

.poke{ /* Contenedor de Cada Imagen */
    color:black;
    width: 110px;
    height: 150px;
    font-size: 10px;
    justify-content: center;
    border: solid 1px black;
    display: flex;
    background-color: #dce1f1a9; 
    flex-wrap: wrap;
}
.poke:hover{
    background-color: bisque;

}
.Pokemons{ /* Contenedor Principal */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.poke p{}